/* .drawer{
  position: "relative";
  margin-right: "auto";
  width: 200;
}

.drawer .MuiBackdrop-root{
  display: "none";
}

.drawer .MuiDrawer-paper{
  width: 200;
  position: "absolute";
  transition: "none !important";
} */

.topBox{
  border: 0.5rem solid #35467a;
  border-radius:1rem;
  height:90vh;
  width:90vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3f5f8;
}

.drawerFooter{
  margin-top: auto;
  padding-left: 5%;
}

  .drawer{
    background-color: #fafbfd;
  }